<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

  <%- include("../partials/loader.ejs") %>

  <%- include("../partials/nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container sidebar-closed " id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include("../partials/sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
          <!-- BREADCRUMB -->
          <div class="page-meta">
            <nav class="breadcrumb-style-one" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/user">일반회원 관리</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= id? "수정" : "글쓰기" %></li>
              </ol>
            </nav>
          </div>
          <!-- /BREADCRUMB -->

          <div class="row layout-spacing">
            <div class="layout-top-spacing">
              <div class="col-12">
                <!-- Post Form -->
                <form method="post">
                  <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                      <div class="row">
                        <div class="col-12">
                          <h4></h4>
                        </div>
                      </div>
                    </div>

                    <div class="widget-content widget-content-area">

                      <!-- <div class="form-group row mb-4">
                        <div class="col-12">
                          <label class="col-sm-2 col-form-label col-form-label-sm">Id</label>
                        </div>
                        <div class="col-12">
                          <input id="id" type="text" name="id" placeholder="" class="form-control" value="<%= data ? data.id: '' %>" readOnly>
                        </div>
                      </div> -->

                      <!-- <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">사용자 유형</label>
                        </div>
                        <div class="col-12 ">
                          <input id="user_type" type="text" name="user_type" placeholder="" class="form-control" value="<%= data ? data.user_type: '' %>" required>
                        </div>
                      </div> -->

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">사용자명(ID)</label>
                        </div>
                        <div class="col-12 ">
                          <input id="username" type="text" name="username" placeholder="" class="form-control" value="<%= data ? data.username: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">이름</label>
                        </div>
                        <div class="col-12 ">
                          <input id="name" type="text" name="name" placeholder="" class="form-control" value="<%= data ? data.name: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">전화번호</label>
                        </div>
                        <div class="col-12 ">
                          <input id="phone" type="text" name="phone" placeholder="" class="form-control" value="<%= data ? data.phone: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">이메일</label>
                        </div>
                        <div class="col-12 ">
                          <input id="email" type="text" name="email" placeholder="" class="form-control" value="<%= data ? data.email: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">성별</label>
                        </div>
                        <div class="col-12 ">
                          <input id="gender" type="text" name="gender" placeholder="" class="form-control" value="<%= data ? data.gender: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">주소1</label>
                        </div>
                        <div class="col-12 ">
                          <input id="address1" type="text" name="address1" placeholder="" class="form-control" value="<%= data ? data.address1: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">주소2</label>
                        </div>
                        <div class="col-12 ">
                          <input id="address2" type="text" name="address2" placeholder="" class="form-control" value="<%= data ? data.address2: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">주소3</label>
                        </div>
                        <div class="col-12 ">
                          <input id="address3" type="text" name="address3" placeholder="" class="form-control" value="<%= data ? data.address3: '' %>" required>
                        </div>
                      </div>

                      <!-- <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">사업자등록번호</label>
                        </div>
                        <div class="col-12 ">
                          <input id="business_registration_number" type="text" name="business_registration_number" placeholder="" class="form-control" value="<%= data ? data.business_registration_number: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">해시태그</label>
                        </div>
                        <div class="col-12 ">
                          <input id="hashtag" type="text" name="hashtag" placeholder="" class="form-control" value="<%= data ? data.hashtag: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">이력</label>
                        </div>
                        <div class="col-12 ">
                          <input id="resume" type="text" name="resume" placeholder="" class="form-control" value="<%= data ? data.resume: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">업무시간</label>
                        </div>
                        <div class="col-12 ">
                          <input id="working_hour" type="text" name="working_hour" placeholder="" class="form-control" value="<%= data ? data.working_hour: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">인출금</label>
                        </div>
                        <div class="col-12 ">
                          <input id="withdrawal" type="text" name="withdrawal" placeholder="" class="form-control" value="<%= data ? data.withdrawal: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">은행1</label>
                        </div>
                        <div class="col-12 ">
                          <input id="bank1" type="text" name="bank1" placeholder="" class="form-control" value="<%= data ? data.bank1: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">은행2</label>
                        </div>
                        <div class="col-12 ">
                          <input id="bank2" type="text" name="bank2" placeholder="" class="form-control" value="<%= data ? data.bank2: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">은행3</label>
                        </div>
                        <div class="col-12 ">
                          <input id="bank3" type="text" name="bank3" placeholder="" class="form-control" value="<%= data ? data.bank3: '' %>" required>
                        </div>
                      </div> -->

                      <div class="row layout-top-spacing">
                        <div class="col-12">
                          <h6>생성일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-12">
                          <%= data ? data.create_date: '' %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="col-12">
                          <h6>변경일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-12">
                          <%= data ? data.update_date: '' %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="col-12">
                          <h6>삭제일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-12">
                          <%= data ? data.delete_date: '' %>
                        </p>
                      </div>

                      <!-- <% if(data.business_registration_file) { %>
                      <div class="row">
                        <div class="col col-6 col-xl-5 mb-xl-0 mb-2">
                          <div class="form-group">
                            <img class="img-fluid" src="/<%= data ? data.business_registration_file: '' %>" />
                          </div>
                        </div>
                      </div>
                      <% } else { %>
                      <div class="mb-3">
                        <div class="col-12 ">
                          <input class="form-control file-upload-input" type="file" id="business_registration_file" name="files">
                        </div>
                      </div>
                      <% } %> -->

                      <div class="row layout-top-spacing">
                        <div class="col-12 ">
                          <div class="form-group">
                            <% if(id) { %>
                            <button class="btn btn-outline-success mb-2 me-4">수정하기</button>
                            <% } else { %>
                            <button class="btn btn-outline-success mb-2 me-4">등록하기</button>
                            <% } %>

                            <% if(id) { %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="location.href='/admin/user/delete/<%= data ? data.id: `` %>';">삭제하기</button>
                            <% } %>

                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="cancel()">취소</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /Post Form -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>

    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!-- END MAIN CONTAINER -->

  <%- include("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>