<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body class="layout-boxed remove-alt-menu">

  <%- include("../partials/loader.ejs") %>

  <%- include("../partials/nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container sidebar-closed " id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include("../partials/sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
          <!-- BREADCRUMB -->
          <div class="page-meta">
            <nav class="breadcrumb-style-one" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/product">AI 결과 데이터 관리</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= id? "수정" : "추가" %></li>
              </ol>
            </nav>
          </div>
          <!-- /BREADCRUMB -->

          <div class="row layout-spacing">
            <div class="col-12 layout-top-spacing">
              <div class="col-12">
                <!-- Post Form -->
                <form method="post">
                  <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                      <div class="row">
                        <div class="col-12">
                          <h4></h4>
                        </div>
                      </div>
                    </div>
                    
                    <div class="widget-content widget-content-area">
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">식별번호</label>
                        </div>
                        <div class="col-12 ">
                          <input id="id" type="text" name="id" placeholder="" class="form-control" value="<%= data.id %>" readOnly>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">계절</label>
                        </div>
                        <div class="col-12 ">
                          <select id="season" name="season" class="form-select" required>
                            <% codezip.season.forEach((text, index)=>{ %>
                            <% if(index == data.season){ %>
                            <option selected value="<%= index %>"><%= text %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= text %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">세부 계절 분류</label>
                        </div>
                        <div class="col-12 ">
                          <select id="detail_season_type" name="detail_season_type" class="form-select" required>
                            <% codezip.detail_season_type.forEach((text, index)=>{ %>
                            <% if(index == data.consulting_status){ %>
                            <option selected value="<%= index %>"><%= text %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= text %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">패션</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="fashion" type="text" name="fashion" placeholder="" class="form-control"><%= data.fashion %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">헤어</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="hair" type="text" name="hair" placeholder="" class="form-control"><%= data.hair %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">향수</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="perfume" type="text" name="perfume" placeholder="" class="form-control"><%= data.perfume %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">메이크업 베이스</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="makeup_base" type="text" name="makeup_base" placeholder="" class="form-control"><%= data.makeup_base %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">메이크업 아이</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="makeup_eye" type="text" name="makeup_eye" placeholder="" class="form-control"><%= data.makeup_eye %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">메이크업 블러셔</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="makeup_blusher" type="text" name="makeup_blusher" placeholder="" class="form-control"><%= data.makeup_blusher %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">립</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="lip" type="text" name="lip" placeholder="" class="form-control"><%= data.lip %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">간단한 설명</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="description" type="text" name="description" placeholder="" class="form-control"><%= data.description %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">태그</label>
                        </div>
                        <div class="col-12 ">
                          <input id="tag" type="text" name="tag" placeholder="" class="form-control" value="<%= data.tag %>">
                        </div>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="col-xl-4 mb-xl-0 mb-2">
                          <h6>생성일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-xl-4 mb-xl-0 mb-2">
                          <%= data.create_date %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="col-xl-4 mb-xl-0 mb-2">
                          <h6>변경일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-xl-4 mb-xl-0 mb-2">
                          <%= data.update_date %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="col-xl-4 mb-xl-0 mb-2">
                          <h6>삭제일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-xl-4 mb-xl-0 mb-2">
                          <%= data.delete_date %>
                        </p>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="col-lg-6 col-12 ">
                          <div class="form-group">
                            <% if(id) { %>
                            <button class="btn btn-outline-success mb-2 me-4">수정하기</button>
                            <% } else { %>
                            <button class="btn btn-outline-success mb-2 me-4">등록하기</button>
                            <% } %>

                            <% if(id) { %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="location.href='/admin/personal_color/delete/<%= data.id %>';">삭제하기</button>
                            <% } %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="cancel()">취소</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /Post Form -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>

    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!-- END MAIN CONTAINER -->

  <%- include("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>