<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../partials/header.ejs") %>
  </head>

  <body class="layout-boxed remove-alt-menu">
    <%- include("../partials/loader.ejs") %> <%- include("../partials/nav.ejs")
    %>

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed" id="container">
      <div class="overlay"></div>
      <div class="search-overlay"></div>

      <%- include("../partials/sidebar.ejs") %>

      <!--  BEGIN CONTENT AREA  -->
      <div id="content" class="main-content">
        <div class="layout-px-spacing">
          <div class="middle-content container-xxl p-0">
            <!-- BREADCRUMB -->
            <div class="page-meta">
              <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin/operation_setting">운영시간 설정</a>
                  </li>
                  <!-- <li class="breadcrumb-item active" aria-current="page">
                    
                  </li> -->
                </ol>
              </nav>
            </div>
            <!-- /BREADCRUMB -->

            <div class="row layout-spacing">
              <div class="col-12 layout-top-spacing">
                <div class="col-12">
                  <!-- Post Form -->
                  <form action="/admin/operation_setting/add" method="post">
                    <div class="statbox widget box box-shadow">
                      <div class="widget-content widget-content-area">
                        <div class="form-group row mb-4">
                          <div class="form-group row my-4">
                            <div class="col-12">
                              <label
                                class="col-sm-2 col-form-label col-form-label-sm"
                                >요일선택</label
                              >
                            </div>
                            <div class="col-12">
                              <div
                                class="form-check form-check-primary form-check-inline">
                                <% if(data.length == 0) data = [{ id: "", week_setting :
                                "0000000", start_time : "9", end_time : "18" }]
                                %> 
                                
                                <input type="hidden" id="id" value="<%= data[0].id %>">
                            
                                <input class="form-check-input"
                                type="checkbox" value="" id="sun" <%
                                if(data[0].week_setting[0] == '1') { %> checked
                                <% } %> />
                                <label
                                  class="form-check-label"
                                  for="form-check-primary">
                                  일
                                </label>
                              </div>

                              <div
                                class="form-check form-check-info form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                value="" id="mon" <% if(data[0].week_setting[1]
                                == '1') { %> checked <% } %>
                                onclick="convert_week_setting();" />
                                <label
                                  class="form-check-label"
                                  for="form-check-info">
                                  월
                                </label>
                              </div>

                              <div
                                class="form-check form-check-success form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                value="" id="tue" <% if(data[0].week_setting[2]
                                == '1') { %> checked <% } %>
                                onclick="convert_week_setting();" />
                                <label
                                  class="form-check-label"
                                  for="form-check-success">
                                  화
                                </label>
                              </div>

                              <div
                                class="form-check form-check-danger form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                value="" id="wed" <% if(data[0].week_setting[3]
                                == '1') { %> checked <% } %>
                                onclick="convert_week_setting();" />
                                <label
                                  class="form-check-label"
                                  for="form-check-danger">
                                  수
                                </label>
                              </div>

                              <div
                                class="form-check form-check-secondary form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                value="" id="thu" <% if(data[0].week_setting[4]
                                == '1') { %> checked <% } %>
                                onclick="convert_week_setting();" />
                                <label
                                  class="form-check-label"
                                  for="form-check-secondary">
                                  목
                                </label>
                              </div>

                              <div
                                class="form-check form-check-warning form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                value="" id="fri" <% if(data[0].week_setting[5]
                                == '1') { %> checked <% } %>
                                onclick="convert_week_setting();" />
                                <label
                                  class="form-check-label"
                                  for="form-check-warning">
                                  금
                                </label>
                              </div>

                              <div
                                class="form-check form-check-dark form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                value="" id="sat" <% if(data[0].week_setting[6]
                                == '1') { %> checked <% } %>
                                onclick="convert_week_setting();" />
                                <label
                                  class="form-check-label"
                                  for="form-check-dark">
                                  토
                                </label>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row my-4">
                            <div class="col-12">
                              <label
                                class="col-sm-2 col-form-label col-form-label-sm"
                                >상담 시작 시간</label
                              >
                            </div>
                            <div class="col-12">
                              <input
                                id="start_time"
                                type="text"
                                name="start_time"
                                placeholder=""
                                class="form-control"
                                value="<%= data[0].start_time %>" />
                            </div>
                          </div>

                          <div class="form-group row my-4">
                            <div class="col-12">
                              <label
                                class="col-sm-2 col-form-label col-form-label-sm"
                                >마지막 상담 시간</label
                              >
                            </div>
                            <div class="col-12">
                              <input
                                id="end_time"
                                type="text"
                                name="end_time"
                                placeholder=""
                                class="form-control"
                                value="<%= data[0].end_time %>" />
                            </div>
                          </div>
                        </div>
                        <input
                          type="hidden"
                          id="week_setting"
                          name="week_setting"
                          value="" />
                        <div class="row layout-top-spacing">
                          <div class="col-12">
                            <div class="form-group">
                              <button
                                id="enrol"
                                class="btn btn-outline-success mb-2 me-4">
                                등록하기
                              </button>

                              <button
                                class="btn btn-outline-danger mb-2 me-4"
                                type="button"
                                onclick="cancel()">
                                취소하기
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- /Post Form -->
                </div>
              </div>
            </div>
          </div>

          <%- include("../partials/footer.ejs") %>
        </div>
        <!--  END CONTENT AREA  -->
      </div>
      <!-- END MAIN CONTAINER -->

      <%- include("../partials/commonScrpits.ejs") %>
    </div>
  </body>
</html>
<script>
  function convert_week_setting() {
    let checks = [];
    checks.push(document.getElementById("sun").checked);
    checks.push(document.getElementById("mon").checked);
    checks.push(document.getElementById("tue").checked);
    checks.push(document.getElementById("wed").checked);
    checks.push(document.getElementById("thu").checked);
    checks.push(document.getElementById("fri").checked);
    checks.push(document.getElementById("sat").checked);

    let week_setting = "";
    for (let i = 0; i < checks.length; i++) {
      if (checks[i] == false) {
        week_setting += "0";
      } else {
        week_setting += "1";
      }
    }
    document.getElementById("week_setting").value = week_setting;
    console.log(week_setting);
    let = a;
  }
  // function delOk() {
  //   if (!confirm("삭제하시면 복구할수 없습니다. \n정말로 삭제하시겠습니까??")) {S
  //     return false;
  //   } else {
  //     let id = document.getElementById("id").value;
  //     location.href = "/admin/operation_setting/delete/${id}";
  //   }
  // }
</script>
