<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

  <%- include("../partials/loader.ejs") %>

  <%- include("../partials/nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container sidebar-closed " id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include("../partials/sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
          <!-- BREADCRUMB -->
          <div class="page-meta">
            <nav class="breadcrumb-style-one" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/consultant">컨설턴트 관리</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= id? "수정" : "글쓰기" %></li>
              </ol>
            </nav>
          </div>
          <!-- /BREADCRUMB -->

          <div class="row layout-spacing">
            <div class="col-12 layout-top-spacing">
              <div class="col-12">
                <!-- Post Form -->
                <form method="post">
                  <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                      <div class="row">
                        <div class="col-12">
                          <h4></h4>
                        </div>
                      </div>
                    </div>

                    <div class="widget-content widget-content-area">

                      <!-- <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">Id</label>
                        </div>
                        <div class="col-12 ">
                          <input id="id" type="text" name="id" placeholder="" class="form-control" value="<%= data ? data.id: '' %>" readOnly>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">사용자 유형</label>
                        </div>
                        <div class="col-12 ">
                          <input id="user_type" type="text" name="user_type" placeholder="" class="form-control" value="<%= data ? data.user_type: '' %>" required>
                        </div>
                      </div> -->

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">사용자명(ID)</label>
                        </div>
                        <div class="col-12 ">
                          <input id="username" type="text" name="username" placeholder="" class="form-control" value="<%= data ? data.username: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">이름</label>
                        </div>
                        <div class="col-12 ">
                          <input id="name" type="text" name="name" placeholder="" class="form-control" value="<%= data ? data.name: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">전화번호</label>
                        </div>
                        <div class="col-12 ">
                          <input id="phone" type="text" name="phone" placeholder="" class="form-control" value="<%= data ? data.phone: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">이메일</label>
                        </div>
                        <div class="col-12 ">
                          <input id="email" type="text" name="email" placeholder="" class="form-control" value="<%= data ? data.email: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">성별</label>
                        </div>
                        <div class="col-12 ">
                          <input id="gender" type="text" name="gender" placeholder="" class="form-control" value="<%= data ? data.gender: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">주소1</label>
                        </div>
                        <div class="col-12 ">
                          <input id="address1" type="text" name="address1" placeholder="" class="form-control" value="<%= data ? data.address1: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">주소2</label>
                        </div>
                        <div class="col-12 ">
                          <input id="address2" type="text" name="address2" placeholder="" class="form-control" value="<%= data ? data.address2: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">주소3</label>
                        </div>
                        <div class="col-12 ">
                          <input id="address3" type="text" name="address3" placeholder="" class="form-control" value="<%= data ? data.address3: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">사업자등록번호</label>
                        </div>
                        <div class="col-12 ">
                          <input id="business_registration_number" type="text" name="business_registration_number" placeholder="" class="form-control" value="<%= data ? data.business_registration_number: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">해시태그</label>
                        </div>
                        <div class="col-12 ">
                          <input id="hashtag" type="text" name="hashtag" placeholder="" class="form-control" value="<%= data ? data.hashtag: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">자격현황 및 이력</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="10" id="resume" type="text" name="resume" placeholder="" class="form-control" required><%= data ? data.resume: '' %></textarea>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">업무시간</label>
                        </div>
                        <div class="col-12 ">
                          <input id="working_hour" type="text" name="working_hour" placeholder="" class="form-control" value="<%= data ? data.working_hour: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">인출금</label>
                        </div>
                        <div class="col-12 ">
                          <input id="withdrawal" type="text" name="withdrawal" placeholder="" class="form-control" value="<%= data ? data.withdrawal: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">은행1</label>
                        </div>
                        <div class="col-12 ">
                          <input id="bank1" type="text" name="bank1" placeholder="" class="form-control" value="<%= data ? data.bank1: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">은행2</label>
                        </div>
                        <div class="col-12 ">
                          <input id="bank2" type="text" name="bank2" placeholder="" class="form-control" value="<%= data ? data.bank2: '' %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">은행3</label>
                        </div>
                        <div class="col-12 ">
                          <input id="bank3" type="text" name="bank3" placeholder="" class="form-control" value="<%= data ? data.bank3: '' %>" required>
                        </div>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="mb-2">
                          <h6>생성일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control mb-2">
                          <%= data ? data.create_date: '' %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="mb-2">
                          <h6>변경일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control mb-2">
                          <%= data ? data.update_date: '' %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="mb-2">
                          <h6>삭제일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control mb-2">
                          <%= data ? data.delete_date: '' %>
                        </p>
                      </div>

                      <div class="row">
                        <div class="row layout-top-spacing">
                          <div class="mb-2">
                            <h6>사업자등록증</h6>
                          </div>
                        </div>
                        <% if(data.business_registration_file) { %>
                        <div class="col-12 mb-2">
                          <div class="form-group">
                            <img class="img-fluid" src="/<%= data ? data.business_registration_file: '' %>" />
                          </div>
                        </div>
                        <% } %>
                      </div>
                      <div class="mt-3">
                        <div class="col-12 ">
                          <input class="form-control-file" type="file" id="business_registration_file" name="files">
                        </div>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="col-12 ">
                          <div class="form-group">
                            <% if(id) { %>
                            <button class="btn btn-outline-success mb-2 me-4">수정하기</button>
                            <% } else { %>
                            <button class="btn btn-outline-success mb-2 me-4">등록하기</button>
                            <% } %>

                            <% if(id) { %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="location.href='/admin/consultant/delete/<%= data ? data.id: `` %>';">삭제하기</button>
                            <% } %>

                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="cancel()">취소</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /Post Form -->

                <!-- 상담 메뉴 -->
                <div class="statbox widget box box-shadow layout-top-spacing">
                  <!-- header -->
                  <div class="widget-header">
                    <div class="row">
                      <div class="col-12 text-center pt-3">
                        <h2>상담 메뉴</h2>
                      </div>
                    </div>
                  </div>
                  <!-- content -->

                  <!-- 테스트 데이터 -->
                  <div>
                    <%
                        let menu = {count:100, rows:[]};
                        for(let i=0; i< 10; i++){
                            menu.rows.push({
                              id : i,
                              menu_title : "menu_title"+i,
                              menu_content : "menu_content".repeat(i),
                              menu_amount : i*10000,
                              create_date : new Date(),
                              update_date : new Date(),
                              delete_date : null
                          })
                        }
                        %>
                  </div>

                  <div class="widget-content widget-content-area">
                    <!-- content head -->
                    <div class="container text-center">
                      <div class="row fs-5">
                        <div class="col-1 border rounded-start">메뉴 번호</div>
                        <div class="col-3 border">메뉴명</div>
                        <div class="col-3 border">메뉴설명</div>
                        <div class="col-1 border">메뉴금액</div>
                        <div class="col border">생성일</div>
                        <div class="col border">수정일</div>
                        <div class="col border rounded-end">삭제일</div>
                      </div>
                    </div>

                    <!-- content body -->
                    <div class="container mt-3 text-center fs-6" id="menu_index">
                      <% menu.rows.forEach((item,index)=>{ %>
                      <div class="row div-hover" onclick="location.href='';">
                        <div class="col-1 border"><%= item.id %></div>
                        <div class="col-3 border text-start"><%= item.menu_title  %></div>
                        <div class="col-3 border text-start text-ellipsis"><%= item.menu_content %></div>
                        <div class="col-1 border"><%= Intl.NumberFormat().format(item.menu_amount) %></div>
                        <div class="col border"><%= myUtils.formatDateTime(item.create_date) %></div>
                        <div class="col border"><%= myUtils.formatDateTime(item.update_date) %></div>
                        <div class="col border"><%= myUtils.formatDateTime(item.delete_date) %></div>
                      </div>
                      <% }) %>
                    </div>

                    <!-- pagination -->
                    <div id="menu_pagination" class="layout-top-spacing">
                      <%- myUtils.make_pagination_by_func(1, menu.count, "load_menu") %>
                    </div>
                  </div>
                </div>




                <!-- 포트폴리오 -->
                <div>
                  <!-- 테스트 데이터 -->
                  <% let portfolio = {count:35, rows:[]}; %>
                  <%
                  for(let i=0; i< 35; i++){
                    portfolio.rows.push({
                      path:"https://ktsmemo.cdn3.cafe24.com/p/"+ ("001"+i).slice(-4) +".jpg"
                    })
                  }
                  %>
                </div>
                <div class="statbox widget box box-shadow layout-top-spacing">
                  <!-- header -->
                  <div class="widget-header">
                    <div class="row">
                      <div class="col-12 text-center pt-3">
                        <h2>포트폴리오</h2>
                      </div>
                    </div>
                  </div>
                  <!-- content -->
                  <div class="widget-content widget-content-area">
                    <div class="container row">
                      <% portfolio.rows.forEach((item, index)=>{
                        let image_url = encodeURI(item.path.replace(/\\/g,'/'));
                      %>
                      <div class="col-2">
                        <a target="_blank" href="<%= image_url %>">
                          <div class="card-preview" style="background-image: url('<%= image_url %>');"></div>
                        </a>
                      </div>
                      <% }) %>
                    </div>

                    <!-- pagination -->
                    <div id="portfolio_paginatnio" class="layout-top-spacing">
                      <%- myUtils.make_pagination_by_func(1, portfolio.count, "load_portfolio", 36) %>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>

        <%- include("../partials/footer.ejs") %>

      </div>
      <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->

    <%- include("../partials/commonScrpits.ejs") %>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>