<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body class="layout-boxed remove-alt-menu">

  <%- include("../partials/loader.ejs") %>

  <%- include("../partials/nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container sidebar-closed " id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include("../partials/sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
          <!-- BREADCRUMB -->
          <div class="page-meta">
            <nav class="breadcrumb-style-one" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/consulting">상담 관리</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= id? "수정" : "추가" %></li>
              </ol>
            </nav>
          </div>
          <!-- /BREADCRUMB -->

          <div class="row layout-spacing">
            <div class="col-12 layout-top-spacing">
              <div class="col-12">
                <!-- Post Form -->
                <form method="post">
                  <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                      <div class="row">
                        <div class="col-12">
                          <h4></h4>
                        </div>
                      </div>
                    </div>

                    <div class="widget-content widget-content-area">
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">Id</label>
                        </div>
                        <div class="col-12 ">
                          <input id="id" type="text" name="id" placeholder="" class="form-control" value="<%= data.id %>" readOnly>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">상담자 id</label>
                        </div>
                        <div class="col-12 ">
                          <input id="consultant_id" type="text" name="consultant_id" placeholder="" class="form-control" value="<%= data.consultant_id %>" readOnly>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">고객 id</label>
                        </div>
                        <div class="col-12 ">
                          <input id="client_id" type="text" name="client_id" placeholder="" class="form-control" value="<%= data.client_id %>" readOnly>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">고객 이름</label>
                        </div>
                        <div class="col-12 ">
                          <input id="client_name" type="text" name="client_name" placeholder="" class="form-control" value="<%= data.client_name %>" readOnly>
                        </div>
                      </div>
                      
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">고객 이미지</label>
                        </div>
                        <div class="col-12 ">
                          <%
                          if(data.client_image){
                            let image_url = encodeURI(data.client_image.replace(/\\/g, '/'));
                          %>
                          <a target="_blank" href="/<%= image_url %>">
                            <div class="card-thumbnail" style="background-image: url('/<%= image_url %>');"></div>
                          </a>
                          <% } else { %>
                            <div class="col-12 card-thumbnail" style="background-image: url('https://via.placeholder.com/150.jpg?text=No%20Image')"></div>
                          <% } %>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">고객 전화번호</label>
                        </div>
                        <div class="col-12 ">
                          <input id="client_phone" type="text" name="client_phone" placeholder="" class="form-control" value="<%= data.client_phone %>" readOnly>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">예약일</label>
                        </div>
                        <div class="col-12 ">
                          <input id="reservation_date" type="date" name="reservation_date" placeholder="" class="form-control w-auto" value="<%= myUtils.formatDate(data.reservation_date) %>" required>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">상담 제목</label>
                        </div>
                        <div class="col-12 ">
                          <input id="consulting_title" type="text" name="consulting_title" placeholder="" class="form-control" value="<%= data.consulting_title %>" required>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">결제 상태</label>
                        </div>
                        <div class="col-12 ">
                          <select id="payment_status" name="payment_status" class="form-select" required>
                            <% codezip.payment_status.forEach((text, index)=>{ %>
                            <% if(index == data.payment_status){ %>
                            <option selected value="<%= index %>"><%= text %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= text %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">상담 상태</label>
                        </div>
                        <div class="col-12 ">
                          <select id="consulting_status" name="consulting_status" class="form-select" required>
                            <% codezip.consulting_status.forEach((text, index)=>{ %>
                            <% if(index == data.consulting_status){ %>
                            <option selected value="<%= index %>"><%= text %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= text %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">문화 분류</label>
                        </div>
                        <div class="col-12 ">
                          <select id="culture_type" name="culture_type" class="form-select">
                            <% codezip.culture_type.forEach((text, index)=>{ %>
                            <% if(index == data.culture_type){ %>
                            <option selected value="<%= index %>"><%= text %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= text %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">계절</label>
                        </div>
                        <div class="col-12 ">
                          <select id="season" name="season" class="form-select">
                            <% codezip.season.forEach((text, index)=>{ %>
                            <% if(index == data.season){ %>
                            <option selected value="<%= index %>"><%= text %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= text %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">세부 계절 분류</label>
                        </div>
                        <div class="col-12 ">
                          <select id="detail_season_type" name="detail_season_type" class="form-select">
                            <% codezip.detail_season_type.forEach((text, index)=>{ %>
                            <% if(index == data.consulting_status){ %>
                            <option selected value="<%= index %>"><%= text %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= text %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">상담내용</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="10" id="consulting_content" type="text" name="consulting_content" placeholder="" class="form-control"><%= data.consulting_content %></textarea>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">웜/쿨</label>
                        </div>
                        <div class="col-12 ">
                          <input id="tone" type="number" name="tone" placeholder="" class="form-control" value="<%= data.tone %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">채도</label>
                        </div>
                        <div class="col-12 ">
                          <input id="chroma" type="number" name="chroma" placeholder="" class="form-control" value="<%= data.chroma %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">대비</label>
                        </div>
                        <div class="col-12 ">
                          <input id="contrast" type="number" name="contrast" placeholder="" class="form-control" value="<%= data.contrast %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">명도</label>
                        </div>
                        <div class="col-12 ">
                          <input id="brightness" type="number" name="brightness" placeholder="" class="form-control" value="<%= data.brightness %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">광택</label>
                        </div>
                        <div class="col-12 ">
                          <input id="gloss" type="number" name="gloss" placeholder="" class="form-control" value="<%= data.gloss %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">결제 금액</label>
                        </div>
                        <div class="col-12 ">
                          <input id="payment_amount" type="number" name="payment_amount" placeholder="" class="form-control" value="<%= data.payment_amount %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">예약금액</label>
                        </div>
                        <div class="col-12 ">
                          <input id="reservation_amount" type="number" name="reservation_amount" placeholder="" class="form-control" value="<%= data.reservation_amount %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">수수료</label>
                        </div>
                        <div class="col-12 ">
                          <input id="commission" type="number" name="commission" placeholder="" class="form-control" value="<%= data.commission %>">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">최종 금액</label>
                        </div>
                        <div class="col-12 ">
                          <input id="final_amount" type="number" name="final_amount" placeholder="" class="form-control" value="<%= data.final_amount %>">
                        </div>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="mb-xl-0 mb-2">
                          <h6>생성일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control mb-xl-0 mb-2">
                          <%= data.create_date %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="mb-xl-0 mb-2">
                          <h6>변경일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control mb-xl-0 mb-2">
                          <%= data.update_date %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="mb-xl-0 mb-2">
                          <h6>삭제일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control mb-xl-0 mb-2">
                          <%= data.delete_date %>
                        </p>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="col-lg-6 col-12 ">
                          <div class="form-group">
                            <!--                                                                     <button -->
                            <!--                                                                         class="btn btn-outline-success mb-2 me-4">생성하기</button> -->
                            <% if(id) { %>
                            <button class="btn btn-outline-success mb-2 me-4">수정하기</button>
                            <% } else { %>
                            <button class="btn btn-outline-success mb-2 me-4">등록하기</button>
                            <% } %>

                            <% if(id) { %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="location.href='/admin/consulting/delete/<%= data.id %>';">삭제하기</button>
                            <% } %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="cancel()">취소</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /Post Form -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>

    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!-- END MAIN CONTAINER -->

  <%- include("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>