<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include("../partials/header.ejs") %>
</head>

<body class="layout-boxed remove-alt-menu">

    <%- include("../partials/loader.ejs") %>

        <%- include("../partials/nav.ejs") %>

            <!--  BEGIN MAIN CONTAINER  -->
            <div class="main-container sidebar-closed " id="container">

                <div class="overlay"></div>
                <div class="search-overlay"></div>

                <%- include("../partials/sidebar.ejs") %>

                    <!--  BEGIN CONTENT AREA  -->
                    <div id="content" class="main-content">
                        <div class="layout-px-spacing">

                            <div class="middle-content container-xxl p-0">
                                <!-- BREADCRUMB -->
                                <div class="page-meta">
                                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/product">상담 관리</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">글쓰기</li>
                                        </ol>
                                    </nav>
                                </div>
                                <!-- /BREADCRUMB -->

                                <div class="row layout-spacing">
                                    <div class="col-lg-12 layout-top-spacing">
                                        <div class="col-lg-12">
                                            <!-- Post Form -->
                                            <form method="post" enctype='multipart/form-data'>
                                                <div class="statbox widget box box-shadow">
                                                    <div class="widget-header">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h4></h4>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="widget-content widget-content-area">
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">Id</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="id" type="text" name="id"
                                                                    placeholder="" class="form-control"
                                                                    value="<%= data ? data.id: '' %>" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">상담자 id</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="consultant_id" type="text" name="consultant_id"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.consultant_id: '' %>" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">고객 id</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="client_id" type="text" name="client_id"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.client_id: '' %>" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">고객 이름</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="client_name" type="text" name="client_name"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.client_name: '' %>" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">고객 이미지</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="client_image" type="text" name="client_image"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.client_image: '' %>" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">결제 날짜</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="payment_date" type="text" name="payment_date"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.payment_date: '' %>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">상담 제목</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="consulting_title" type="text" name="consulting_title"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.consulting_title: '' %>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">결제 상태</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="payment_status" type="text" name="payment_status"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.payment_status: '' %>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">상담 상태</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="consulting_status" type="text" name="consulting_status"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.consulting_status: '' %>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">결제 금액</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="payment_amount" type="text" name="payment_amount"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.payment_amount: '' %>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">예약 수</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="reservation_amount" type="text" name="reservation_amount"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.reservation_amount: '' %>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">수수료</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="commission" type="text" name="commission"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.commission: '' %>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <div class="col-lg-10 col-12 ">
                                                                <label
                                                                    class="col-sm-2 col-form-label col-form-label-sm">최종 금액</label>
                                                            </div>
                                                            <div class="col-lg-10 col-12 ">
                                                                <input id="final_amount" type="text" name="final_amount"
                                                                    placeholder="" class="form-control"
                                                                     value="<%= data ? data.final_amount: '' %>" required>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-top-spacing">
                                                            <div class="col-xl-4 mb-xl-0 mb-2">
                                                                <h6>생성일</h6>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="form-control col-xl-4 mb-xl-0 mb-2">
                                                                <%= data ? data.create_date: '' %>
                                                            </p>
                                                        </div>
                                                        <div class="row layout-top-spacing">
                                                            <div class="col-xl-4 mb-xl-0 mb-2">
                                                                <h6>변경일</h6>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="form-control col-xl-4 mb-xl-0 mb-2">
                                                                <%= data ? data.update_date: '' %>
                                                            </p>
                                                        </div>
                                                        <div class="row layout-top-spacing">
                                                            <div class="col-xl-4 mb-xl-0 mb-2">
                                                                <h6>삭제일</h6>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="form-control col-xl-4 mb-xl-0 mb-2">
                                                                <%= data ? data.delete_date: '' %>
                                                            </p>
                                                        </div>

                                                        <div class="row layout-top-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <button
                                                                        class="btn btn-outline-success mb-2 me-4">생성하기</button>
                                                                    <button class="btn btn-outline-success mb-2 me-4" type="button"
                                                                        onclick="location.href='/api/product/edit/<%= data ? data.id: '' %>';">수정하기</button>
                                                                    <button class="btn btn-outline-danger mb-2 me-4"
                                                                        type="button" onclick="location.href='/api/product/delete/<%= data ? data.id: '' %>';">삭제하기</button>
                                                                    <button class="btn btn-outline-danger mb-2 me-4"
                                                                        type="button" onclick="cancel()">취소</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- /Post Form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%- include("../partials/footer.ejs") %>

                    </div>
                    <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->

            <%- include("../partials/commonScrpits.ejs") %>

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>