<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body class="layout-boxed remove-alt-menu">

  <%- include("../partials/loader.ejs") %>

  <%- include("../partials/nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container sidebar-closed " id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include("../partials/sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
          <!-- BREADCRUMB -->
          <div class="page-meta">
            <nav class="breadcrumb-style-one" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/community">자유게시판 관리</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= id? "수정" : "추가" %></li>
              </ol>
            </nav>
          </div>
          <!-- /BREADCRUMB -->

          <div class="row layout-spacing">
            <div class="col-12 layout-top-spacing">
              <div class="col-12">
                <!-- Post Form -->
                <form method="post">
                  <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                      <div class="row">
                        <div class="col-12">
                          <h4></h4>
                        </div>
                      </div>
                    </div>

                    <div class="widget-content widget-content-area">
                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">Id</label>
                        </div>
                        <div class="col-12 ">
                          <input id="id" type="text" name="id" placeholder="" class="form-control" value="<%= data.id %>" readOnly>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">커뮤니티 타입</label>
                        </div>
                        <div class="col-12 ">
                          <select name="community_type" class="form-select" required>
                            <% codezip.community_type.forEach((item, index)=>{ %>
                            <% if(index==2) { %>
                            <option selected value="<%= index %>"><%= item %></option>
                            <% }else{ %>
                            <option value="<%= index %>"><%= item %></option>
                            <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">글제목</label>
                        </div>
                        <div class="col-12 ">
                          <input id="community_title" type="text" name="community_title" placeholder="" class="form-control" value="<%= data.community_title %>" required>
                        </div>
                      </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">글내용</label>
                        </div>
                        <div class="col-12 ">
                          <textarea rows="5" id="community_content" type="text" name="community_content" placeholder="" class="form-control" required><%= data.community_content %></textarea>
                        </div>
                      </div>

                      <div class="row">
                        <div class="row layout-top-spacing">
                          <div class="mb-2">
                            <h6>자유게시판 이미지</h6>
                          </div>
                        </div>
                        <div class="col-12 ">
                          <div class="container row">
                          <% images.forEach((item, index)=>{
                            let image_url = encodeURI(item.path.replace(/\\/g,'/'));
                          %>
                          <div class="col-2">
                            <a target="_blank" href="/<%= image_url %>">
                              <div class="card-preview" style="background-image: url('/<%= image_url %>');"></div>
                            </a>
                          </div>
                          <% }) %>
                        </div>
                      </div>
                    </div>

                      <div class="form-group row mb-4">
                        <div class="col-12 ">
                          <label class="col-sm-2 col-form-label col-form-label-sm">작성자</label>
                        </div>
                        <div class="col-12 ">
                          <input id="writer" type="text" name="writer" placeholder="" class="form-control" value="<%= data.writer %>" required>
                        </div>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="col-xl-4 mb-xl-0 mb-2">
                          <h6>생성일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-xl-4 mb-xl-0 mb-2">
                          <%= data.create_date %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="col-xl-4 mb-xl-0 mb-2">
                          <h6>변경일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-xl-4 mb-xl-0 mb-2">
                          <%= data.update_date %>
                        </p>
                      </div>
                      <div class="row layout-top-spacing">
                        <div class="col-xl-4 mb-xl-0 mb-2">
                          <h6>삭제일</h6>
                        </div>
                      </div>
                      <div>
                        <p class="form-control col-xl-4 mb-xl-0 mb-2">
                          <%= data.delete_date %>
                        </p>
                      </div>

                      <div class="row layout-top-spacing">
                        <div class="col-lg-6 col-12 ">
                          <div class="form-group">
                            <% if(id) { %>
                            <button class="btn btn-outline-success mb-2 me-4">수정하기</button>
                            <% } else { %>
                            <button class="btn btn-outline-success mb-2 me-4">등록하기</button>
                            <% } %>

                            <% if(id) { %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="location.href='/admin/freeboard/delete/<%= data.id %>';">삭제하기</button>
                            <% } %>
                            <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="cancel()">취소</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /Post Form -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>

    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!-- END MAIN CONTAINER -->

  <%- include("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>